<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">  
</head>
   <!-- <div class="container-fluid">
    <div class = "row">
       <div class="col-lg-12"> 
         <div class= "head"></div>
    </div> -->
    <!-- <div class="col-lg-12">
      <center>
      <div class="About">
        <h3 style="font-family:Lobster"> <b>About</b></h3>
          <p style="text-align:justify"> I’m currently doing my MSc at the University of the Witwatersrand, looking to kick start a career in Data science/Software development (python web development). My project was in the field of data science at CERN where we deal huge data analysis. My skills and interest in coding(Python, HTML, CSS, SQL) has led to pursue a career in big data and software development. I also have an in interest in consulting as I possess analytical and problem-solving skills that are highly required skills in the finance world. I possess enthusiasm, drive and a positive attitude to be successful in whatever I do.</p>
        </div>
       </center> 
      </div> -->
        <div class="col-lg-12">
          <div id="Languages" style="background-color:White">
            
                <h3 style="font-family:Lobster" style="color: aqua;"> <b> Languages</b></h3>
            
                <div class="col-lg-10">
          
                    <img src="http://2.bp.blogspot.com/-7hekJRK74_M/VePJPdG1LuI/AAAAAAAACac/zgJ9BhR54Yo/s1600/Python-shahriar-tpg.png" class="img-responsive ms-2" height="15%" width="15%" >
                    <img src="https://marinalimeira.github.io/talk-funcional-js/images/javascript.png" class="img-responsive ms-2" height="15%" width="15%" >
                    <img src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" class="img-responsive ms-3" height="15%" width="15%" >
                    <img src="assets/ang.png" class="img-responsive" height="15%" width="15%" >
                    <img src="assets/angular.png" class="img-responsive" height="15%" width="15%" >
          
                </div>
            </div>
        </div>
         
         
    <!-- <div class="row">
      <div class="col-lg-12">
        <center>
      
        <footer>
      <p  style="font-family: Cursive"><a href="https://www.facebook.com/molupe.tshidiso" target="blank"> <i class="fa fa-facebook-square"></i> </a> | <a href="https://www.instagram.com/tsmolupe/?hl=en"  target="blank"><i class="fa fa-instagram"></i></a> | <a href="https://www.linkedin.com/in/tshidiso-molupe-68752899/" target="blank"><i class="fa fa-linkedin-square"></i></a> | <a href="mailto:stmolupe@gmail.com"  target="blank"><i class="fa fa-envelope"></i></a> </p>
      </footer
         </center>
      </div>
    </div> -->
        
        
   <!-- </div> -->
  
